


*
{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  
}
p
{
   
    font-size: 1.05em;
}

.oculto
{
    display: none;
}
.fondo

{
    max-width: 95%;
    margin: 0 auto;
  
}
.container
{
padding-top: 5%;
    color: #2b303c;
}
li
{
    list-style:none;
    padding: 1.5%;
    text-align: center;
}
.card-text
{
    color:slategray;
}
.naranja
{
color: cornflowerblue;   
    
}
.resaltes
{
    font-weight: 600;
    color: cornflowerblue;
}

.titulo
{
    color: whitesmoke;
    font-weight: 600;
    font-style: italic;
    font-size: 2.6em;
}

.tsec
{
   color: #111717;
    font-weight: 600;
    font-style: italic;
    font-size: 2em;
}
.fondos
{
   background-image: url(fondos.jpeg);
    background-attachment: fixed;
   background-size: cover;
    background-repeat: no-repeat;
    
}
.img 
{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 1%;
}



/* BARRA DE NAVEGACION  */

.navbar-nav
{
margin-left: 0 auto;
    text-align: center;
    opacity: .9;
    color: whitesmoke;
}

.navbar-right
{
margin-left:  auto;
    text-align: right;
    
}

.navbar{
      background-color: #2b303c !important;  
    color:whitesmoke;
   opacity: .9;
}
.nav-link
{
    color: snow;
}

.fixed-header {
  top: 0;
  left: 0;
  right: 0;
    z-index:100000;
    width: 95%;
    margin: 0 auto;
  
}

/* INICIO SECCION */

.inicio
{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
padding-top: 4%;
backface-visibility: hidden;
    display: flex;
    color: black;
 padding-bottom: 14%;
    
}

.inc
{
    
  max-width: 50%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding:3%;
backface-visibility: hidden;
  
}
.incc
{
    
  max-width: 50%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 3%;
    padding-top: 20%;
backface-visibility: hidden;
  
}
/* ACERCA SECCION */

.acerca
{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 5%;
background-color: ghostwhite;
    display: flex;
color: whitesmoke;
    opacity: .9;
     border-radius: 12px;
}

.acc
{
    max-width: 40%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 3.5%;
    backface-visibility: hidden;
    text-align: left;
   
}
.ac
{
    max-width: 60%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 3.5%;
    background-color: #2b303c;
    text-align: left;
 color: whitesmoke;   
    border-top-right-radius:  15px;
     border-bottom-right-radius:  15px;
}

/* HABILIDADES SECCION */

.list-inline-items
{
    padding: 2%;

    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 100%;
    border: solid 2px white;
    text-align: center;
    justify-content: center;
}

.habilidad
{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
  
    backface-visibility: hidden;
    display: flex;
    opacity: .9;
}

.hab
{
    max-width: 50%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 3%;
    background-color: dimgray;
    text-align: left;
      color: whitesmoke;
}
.habb
{
    max-width: 50%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 3%;
    background-color: #2b303c !important;
    text-align: left;
    color: whitesmoke;
}

.barras
{
        max-width: 100%;
    height: auto;
    margin: 1% auto;
    box-sizing: border-box;
    padding: 1.5%;
    background-color: ;
    display: flex;
}


/* PROYECTOS SECCION */


.proyectos
{
    
background-color: #2b303c !important;
    max-width: 100%;
    height: auto;
    margin: 1% auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-top: 5%;
    display: flex;
   border-radius: 12px;
    opacity: .9;
}
.tarjetas
{
    max-width: 30%;
    height: auto;
    margin: 0 auto;
    padding: .5%;
}

.card
{
    max-width: 100%;
    width: 750px;
    max-height: 100%;
    margin-top: 5%;
    border-top: 5px solid cornflowerblue;
    text-align: left;
}

/* CONTACTO SECCION */
.contacto
{
    
    backface-visibility: hidden;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-top: 5%;
    display: flex;
}
.funo
{
    max-width: 50%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 3%;
      background-color: whitesmoke!important;
    text-align: left;
    
}
.fdos
{
    max-width: 50%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 1%;
      background-color: #2b303c !important;
    text-align: left;
    border-bottom-right-radius: 
    23px;
    border-top-right-radius: 
    23px;
}

@media (max-width: 575px) 
{ 




*
{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  
}
p
{
   
    font-size: 1.05em;
}

.oculto
{
    display: none;
}
.fondo

{
    max-width: 100%;
    margin: 0 auto;
  
}
li
{
    list-style:none;
    padding: 1.5%;
    text-align: center;
}
.card-text
{
    color:slategray;
}
.naranja
{
color: cornflowerblue;   
    
}
.resaltes
{
    font-weight: 600;
    color: cornflowerblue;
}

.titulo
{
    color: whitesmoke;
    font-weight: 600;
    font-style: italic;
    font-size: 1.9em;
}

.tsec
{
   color: #111717;
    font-weight: 600;
    font-style: italic;
    font-size: 1.7em;
}
.fondos
{
background-image: url(fondos.jpeg);
    background-attachment: fixed;
    background-position: center;
    
}
.img 
{
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 1%;
    justify-content: center;
}



/* BARRA DE NAVEGACION  */

.navbar-nav
{
margin-left: 0 auto;
    text-align: center;
    opacity: .9;
    color: whitesmoke;
}

.navbar-right
{
margin:0  auto;
    text-align: center;
    
}

.navbar{
       background-color: whitesmoke;
    color:black;
 
}
.nav-link
{
    color: snow;
}

.fixed-header {
  top: 0;
  left: 0;
  right: 0;
    z-index:100000;
    width: 100%;
    margin: 0 auto;
    border-top-left-radius: 1px;
     border-top-right-radius: 1px;

}

/* INICIO SECCION */

.inicio
{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
padding-top: 14%;
backface-visibility: hidden;
    display: flex;
    color: black;
 padding-bottom: 20%;
}

.inc
{
    
   max-width: 45%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding:.1%;
backface-visibility: hidden;
    padding-top: 20%;
  
}
.incc
{
    
    max-width: 45%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 3%;
    padding-top: 10%;
backface-visibility: hidden;
  
}
/* ACERCA SECCION */

.acerca
{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 5%;
   background-color: #2b303c;
    display: grid;
color: whitesmoke;
      border-top-left-radius: 1px;
     border-top-right-radius: 1px; 
}

.acc
{
     max-width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 3.5%;
    backface-visibility: hidden;
    text-align: left;
}
.ac
{
     max-width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 3.5%;
    background-color: #2b303c;
    text-align: left;
 color: whitesmoke;   
    border-top-right-radius:  15px;
     border-bottom-right-radius:  15px;
}

/* HABILIDADES SECCION */

.list-inline-items
{
    padding: 2%;

    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 100%;
    border: solid 2px white;
    text-align: center;
    justify-content: center;
}

.habilidad
{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 5%;
    backface-visibility: hidden;
    display: grid;
    opacity: .9;
}

.hab
{
     max-width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 3%;
    background-color: dimgray;
    text-align: left;
      color: whitesmoke;
}
.habb
{
      max-width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 3%;
    background-color: #2b303c !important;
    text-align: left;
    color: whitesmoke;
}

.barras
{
        max-width: 100%;
    height: auto;
    margin: 1% auto;
    box-sizing: border-box;
    padding: 1.5%;
    background-color: ;
    display: grid;
}


/* PROYECTOS SECCION */


.proyectos
{
    
    background-color: cornflowerblue;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-top: 5%;
    display: grid;
    opacity: .9;
}
.tarjetas
{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: .5%;
}

.card
{
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    margin-top: 5%;
    border-top: 5px solid #2b303c;
    text-align: justify;
}

/* CONTACTO SECCION */
.contacto
{
    
    background-color: #2b303c !important;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    display: grid;
}
.funo
{
     max-width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 3%;
      background-color: whitesmoke!important;
    text-align: left;
}
.fdos
{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 3%;
      background-color: #2b303c !important;
    text-align: left;
}
}
